<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617396900821-poed4p64f009bnepfm671hjpq3jbuioa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617396900821-poed4p64f009bnepfm671hjpq3jbuioa</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jG1A_TLpcHVCxJXR31EwtV2JLnt-uk0</string>
	<key>GCM_SENDER_ID</key>
	<string>617396900821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rochajohnathan.jobTimer</string>
	<key>PROJECT_ID</key>
	<string>rochajohn-job-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>rochajohn-job-timer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617396900821:ios:1dfb89321b1c2a3724635c</string>
</dict>
</plist>